*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}
/* NAVEGADOR */
.navegador{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}


.logo{
    height: 80px;
    width: 80px;
    border-radius: 40px ;
    box-shadow: 2px 2px 2px rgb(51, 51, 51);
}


.navegador li,
 .navegador a{
     display: inline-block;
     margin: 5px;
     text-decoration: none;
     text-transform: uppercase;

     font-size: 19px;
     color: white;
     transition: .5s ease;
 }
 .navegador li,
 .navegador a:hover{
     color:black ;
 }


 .navegador li,
 .navegador a{
     display: inline-block;
     margin: 5px;
     text-decoration: none;
     text-transform: uppercase;
   
     font-size: 19px;
     color: white;
     transition: .5s ease;
 }

 @media (max-width: 900px){
    .navegador .sitio{
         display: none;
         
     }
     .navegador li,
 .navegador a{
     margin: 0px;

 }
 .navegador #menu{
    
    display: none;
}
 
 }

/*HEADER ESTILO E IMAGEN */

header{
    background-color:#3070c4;
    background: url("../img/Skewed.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    
    width: 100%;
    height: 650px;
    
    overflow: hidden;
    text-align: center;

   
    

}

header{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
 
}

header #inicio {
    color: white;
    font-size: 25px;
    
}

header #inicio a{
    color: white;
    text-decoration: none;
    border: solid 3px white;
    border-radius: 20px;
    padding: 5px;
}
header #inicio h3{
    margin-bottom: 15px;
}
header #inicio a:hover{
    transition: all 0.5s;
    background-color: white;
    color: black;
}
/*figura triangular */
.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #272B30 transparent;
}
/*RETRATO*/
.retrato img{
  
    height: 120px;
    width: 120px;
    border-radius: 60px ;
    box-shadow: 2px 2px 2px rgb(51, 51, 51);
   margin: 20px;

}

.retrato img:hover{
transition: all 0.8s;
transform: translateY(-10px);

box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.904);

}
/* MAIN CONTENIDO DE LA PAGINA*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #272B30;
    
}

.contenido #descripcion{
    background-color: whitesmoke;
    text-align: center;
    border: solid 1px ;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 3px 3px rgb(51, 51, 51);
    margin: 50px;

    
}
.contenido p{
    font-weight: 200;
}
.contenido span{
    color: rgb(23, 23, 182);
    font-weight: 900;
    
}
.contenido .curso{
    text-align: justify;
    margin-left: 150px;
    
}
.contenido .curso ul li{
    list-style-type: none;
    margin: 8px;
}

.contenido a{
    color: white;
}
.contenido .cv{
    width: 40%;
    height: 20%;
}
@media (max-width: 900px){
    .contenido{
        font-size: 12px;
    }
    .contenido .curso{
       text-align: left;
        margin-left: 0px;
    }
    .contenido a{
        font-size: 10px;
    }
    .contenido .cv{
        width: 80%;
        height: 60%;
    }

   
}

/*portafolio*/
#trabajos{
    background: url("/img/Skewed.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}
#trabajos h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
#portafolio{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

#portafolio #elemento{
    text-align: center;
    
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 0px  rgba(49, 49, 49, 0.808);
    margin-bottom: 20px ;
    background-color: rgba(255, 255, 255, 0.205);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
  
    
}
#portafolio #elemento p{
    overflow: hidden;
}

#portafolio #elemento:hover{


    transition: all 0.7s;
    transform: translateY(-10px);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.74);
}
#portafolio a{
    color: white;
}


#portafolio img{
    width: 350px;
    height: 300px;
    border-radius: 20px 20px 0 0;
}
#trabajos{
    
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.432);
    width: 100%;
}
@media (max-width: 900px){
    #trabajos{
        width: 100%;
        height: 500px;
    }
    #portafolio #elemento {
        display: none;
    }
}
@media (min-width: 1000px){
    #trabajos #portafolio .images-section{
        display: none;
    }
    #trabajos #portafolio .arrows{
        display: none;

    }

}

 /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: rgba(0, 0, 0, 0.808);
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #3070c4;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 45px;
   
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
   
    color: white;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    color: #ecf5ff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.808);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  

  /* buton para subir */
  #button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }  
  #button a{
      text-decoration: none;
  }
  /* zoom */

 
 
.transition {
    transition: all 1s;
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
@media (max-width: 900px){
    .transition {
        transition: all 1s;
        -webkit-transform: scale(1.8); 
        -moz-transform: scale(1.8);
        -o-transform: scale(1.8);
        transform: scale(1.8);
    }
}
