* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

/*HEADER*/
header{

    background: url("/img/Skewed.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    
    width: 100%;
    height: 650px;
    
    overflow: hidden;
    text-align: center;
   
    

}

header{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 
}
header #inicio {
    color: white;
    font-size: 25px;
    
}
header #inicio h1{
    margin: 9px;
}
header #inicio h3{
    margin-top: 9px;
    margin-bottom: 15px;

}
header #inicio a{
    color: white;
    text-decoration: none;
    border: solid 3px white;
    border-radius: 20px;
    padding: 5px;
}
header #inicio a:hover{
    transition: all 0.5s;
    background-color: white;
    color: black;
}
/*figura triangular */
.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/*contenido*/
#contenido{

   width: 100%;
   max-width: 1000px;
 
   
   overflow: hidden;
 
  
}
#contenido #informacion{
  
    margin: auto;

    
}

#contenido #informacion h1{

    margin-bottom: 15px;
}
#contenido #informacion p{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;

}

#contenido #informacion a{
    
    color: black;
    text-decoration: none;
    border: solid 1px black;
    border-radius:6px;
    padding: 5px;
    margin-left: 10px;
    font-weight: bold;
    
}

#contenido #informacion a:hover{

    transition: all 0.5s;
    color: white;
    background-color: rgba(32, 32, 32, 0.966);
    

}
/*imagen de curriculo*/
    
     #contenido #informacion .cv{
         width: 50%;
         height: 50%;
         border-radius: 10px;
         margin-left: 25%;
         box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.781);
         border:black solid 1px ;
         
         
     }

     #contenido #informacion .cv:hover{

        transition: all 0.8s;
        transform: translateY(-10px);

        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.904);

     }

/*portafolio*/

 #portafolio{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#portafolio #elemento{
    text-align: center;
    
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 0px  rgba(49, 49, 49, 0.808);
    margin-bottom: 20px ;
    background-color: rgba(255, 255, 255, 0.205);
    
}

#portafolio #elemento:hover{


    transition: all 0.7s;
    transform: translateY(-10px);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.74);
}


#portafolio #elemento a{

    font-weight: bold;
    color: rgb(0, 110, 255);
    text-decoration: none;
    border: solid 1px rgb(0, 110, 255);
    padding: 5px;
    border-radius:6px;

}

#portafolio #elemento a:hover{ 
    transition: all 0.2s;
    color: rgba(0, 0, 0, 0.685);
    background-color: rgb(0, 110, 255) ;
}

 





/*figura triangular */



.sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
    
}



/*contenido 2 con otro fondo*/


#contenido #contenido_2{

    background-image: url("/img/fondo.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 870px;
    position: relative;
    overflow: hidden;
}

/*FOOTER */
    footer{
        display: flex;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        padding-bottom: 20px;
        color: #fff;
       
       
    }
    footer #foot{
        display: flex;
        background-color: rgb(32, 32, 32);
        flex-direction: row;
        justify-content: space-between;
    }
    
    footer #contactame{
        color: white;
        margin-top: 20px;
        margin-right: 200px;     
        
        

    }


footer img{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

footer a{
    
    color: rgb(0, 110, 255);
}
























#portafolio img{
    width: 300px;
    height: 250px;
    border-radius: 20px 20px 0 0;
    border-bottom: rgb(53, 53, 53) solid 1px;
    
}