

.item {
	display: none;
	padding: 20px;
	animation: aparecer 1.2s forwards
}
.item p{
	color: white;
}

.item:first-child {
	display: flex;
}

.info {
	padding: 0px;
}


.arrows {
	text-align: center;
}

.arrows div{
	color: #111;
	margin: 0 30px;
	transition: all 0.12s;
	font-size: 70px;
	
}

.arrows div:hover{
	color: #555;
	font-size: 80px;
	margin-top: -8px;
}

/* #trabajos #portafolio .images-section .item img{
	width: 60%;
	height: 80%;
	margin-right: 20px;
	border-radius: 20px;
} */


@keyframes aparecer {
	0% {
		opacity: 0.4
	}
	100% {
		opacity: 1
	}
}